Question-1 What are data structures, and why are they important?

- Data structures is a way of organzing and storing the data so that it can be access and manipulated efficiently. Data structures is important because they store the anykind of data and make code more efficient.

Question-2  Explain the difference between mutable and immutable data types with example?

In [ ]:
#Answer-
#List - list is a mutable data structure .
 #It can store heterogenous data
 #List can be store elements in orderly

lis= [1,3,4.5,True,]
lis[-1]= "abhi"

#Tuple - Tuple is a immutable data structure .
# It also store heterogenous data

tupl= (1,2,3.4, "abhi")
tupl[-1]= True

# It gives error because tuple element dosen't change after its creation.

Question-3 What are the main differences between lists and tuples in Python?

- The main differnce between lists and tuples is list is mutable whereas tuple is immutable. In list we use [] brackets but in tuples we use () paranthesis. This is the major difference in list and tuples.

Question-4 Describe how dictionaries store data?

- Dictionaries stores the data in the form of key value pairs.

Question-5 Why might you use a set instead of a list in Python?

- Basically set is in alphabetically order and are unorderd collection of unique elements.
- If you have a complex data and find the unique element in that dataset , there set are usable.
- You can make changes in the data using set.
- Sets are store only unique elements.

Question-6 What is a string in Python, and how is it different from a list?

- String is immutable means, you can't modified it whereas list is mutable ,it can be modified after its creation.
- String can only hold the characters whereas a list can store various data types.

Question-7 How do tuples ensure data integrity in Python?

- A tuple, elements cannot be modified, added, or removed. This prevents the changes in the data, ensuring that it remains consistent throughout the program's execution.

Question-8 What is a hash table, and how does it relate to dictionaries in python?

- A hash table is a data structure that maps keys to values for efficient data retrieval. In Python, a dictionary is used to implement a hash table.

Question-9 Can lists contain different data types in Python?

- Yes, it can store different data types in python.

Question-10 Explain why strings are immutable in Python?

- Strings are immutable because it's element cannot modified after it created.

Question-11 What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries define as which can store the data in the form of key value pairs.
- If you have a data of employees where the no. and employee name is mentioned . So, in that case you can use dictionary to make key value pairs of the employees.
- It can store the data in pairs.
- The indexes provided by the python is replaced by the keys.

Question-12 Describe a scenario where using a tuple would be preferable over a list?

In [26]:
# Answer
# Suppose a employee gets their employee id from the company. Now employee id never be changed or let's say debit card no. it can be never changed.

employee=(' employee id', 'debit no.', 'aadhar no.')
employee

#If you dosen't want any change in element ,you can prefer the tuple.
#Data should be protected because it cannot modified.
# When you pass tuple in a function ,you are confident that it won't modified the orginal data.

(' employee id', 'debit no.', 'aadhar no.')

Question-13 How do sets handle duplicate values in Python?

- Sets are the unorderd collection of unique element. If you write any element twice or thrice ,it simply ignored by set.

Question-14 How does the “in” keyword work differently for lists and dictionaries?

In [22]:
#Answer
#When used with a list, the (in) keyword checks if an element is present in the list.
my_list = [10, 20, 30, 40]
if 10 in my_list:
    print(my_list)

#When used with a dictionary, the in keyword checks if a key is present in the dictionary.
#It does not check for the values or key-value pairs.
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

print("name" in my_dict)
print("Alice" in my_dict) 
print("age" in my_dict)

[10, 20, 30, 40]
True
False
True

Question-15 Can you modify the elements of a tuple? Explain why or why not?

- Nope, you can't modify the elements of a tuple because once a tuple elements is created you cannot modify it , if you do python will raise an error.
- tuples are immutable.

Question-16 What is a nested dictionary, and give an example of its use case?

In [68]:
#Answer
#A nested dictionary is a dictionary inside another dictionary. 
# use case:
students = {
    101: {"name": "abhi", "age": 20, "grades": [85, 90, 82]},
    102: {"name": "aryan", "age": 22, "grades": [78, 82, 80]},
    103: {"name": "stak", "age": 21, "grades": [92, 88, 94]},
}

print("Student 101's Name:", students[101]["name"],("student 101's age:",students[101]["age"]))

Student 101's Name: abhi ("student 101's age:", 20)

Question-17 Describe the time complexity of accessing elements in a dicicionary?

- In Python, dictionaries are implemented as hash tables, which allows for efficient data retrieval.
- Accessing elements by key is usually very fast.

Question-18 In what situations are lists preferred over dictionaries?

- Lists are preferred over dictionaries when you need to store a sequence of related data where the order of elements is important.
- When you need to iterate through data in a specific order, like steps in a process or a list of items in a shopping cart.
- If you primarily access elements using their numerical index in the list, without needing to search by a unique key.

Question-19 Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries are unorderd but from python 3.7 version, dictionaries retain the insertion.
- This means if you iterate over a dictionary the items will be returned in the order they were orderd.
- This will affect ,the direct access by key and iterate through a dictionary.

Question-20 Explain the difference between a list and a dictionary in terms of data retrieval?

# In List
- Data Retrieval: Data is accessed using index numbers, which represent the position of elements in the list.
- Order: Lists are ordered collections, meaning the order of elements is preserved.
# In Dictionary
- Data Retrieval: Data is accessed using keys, which are unique identifiers for the values stored in the dictionary.
- Order: Dictionaries in Python (from version 3.7 onwards) are ordered by insertion order. Prior to that, they were unordered.

## PRACTICAL QUESTION

Question-1 Write a code to create a string with your name and print it?

In [43]:
name = " Abhi kumar tripathi"
name

' Abhi kumar tripathi'

Question-2 Write a code to find the length of the string "Hello World"?

In [46]:
str1= " HELLO WORLD "
len(str1)

13

Question-3 Write a code to slice the first 3 characters from the string "Python Programming"?

In [51]:
string= "Python Programming"
string[0:3]

'Pyt'

Question-4 Write a code to convert the string "hello" to uppercase?

In [58]:
String= 'hello'
String.upper()

'HELLO'

Question-5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [63]:
Str1= "i like apple"
Str1.replace("apple", "orange")

'i like orange'

Question-6 Write a code to create a list with numbers 1 to 5 and print it?

In [66]:
lis=[1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

Question-7 Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [79]:
lis1= [1,2,3,4]
lis1.append(10)

print(lis1)

[1, 2, 3, 4, 10]

Question-8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [84]:
lis2= [1,2,3,4,5]
lis2.remove(3)

print(lis2)

[1, 2, 4, 5]

Question-9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [87]:
word=['a','b','c','d']
word[1]

'b'

Question-10 Write a code to reverse the list [10, 20, 30, 40, 50]?

In [94]:
num=[10,20,30,40,50]
num[::-1]

[50, 40, 30, 20, 10]

Question-11 Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [97]:
tup=(10,20,30)
print (tup)

(10, 20, 30)

Question-12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

In [8]:
# Creating a tuple
fruits = ('apple', 'banana', 'cherry')
fruits[0]
print(first_element)

apple

Question-13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?

In [105]:
digit=(1,2,3,2,4,2)
digit.count(2)

3

Question-14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [108]:
anim=('dog','cat','rabbit')
anim.index('cat')

1

Question-15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

In [113]:
basket=('apple','orange','banana')
if 'banana' in basket :
    print ( 'All item in the basket')

All item in the basket

Question-16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [118]:
set={ 1,2,3,4,5}
print (set)

{1, 2, 3, 4, 5}

Question-17 Write a code to add the element 6 to the set {1, 2, 3, 4}?

In [127]:
set1={1,2,3,4}
set1.add(6)

print(set1)

{1, 2, 3, 4, 6}

Question-18 Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [131]:
tup=(10,20,30)
print (tup)

(10, 20, 30)

Question-19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

In [6]:
# Creating a tuple
fruits = ('apple', 'banana', 'cherry')
fruits[0]
print(first_element)

apple

Question-20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?

In [136]:
digit=(1,2,3,2,4,2)
digit.count(2)

3

Question-21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [145]:
anim=('dog','cat','rabbit')
anim.index('cat')

1

Question-22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

In [148]:
basket=('apple','orange','banana')
if 'banana' in basket :
    print ( 'All item in the basket')

All item in the basket

Question-23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [151]:
set={ 1,2,3,4,5}
print (set)

{1, 2, 3, 4, 5}

Question-24 Write a code to add the element 6 to the set {1, 2, 3, 4}?

In [155]:
set1={1,2,3,4}
set1.add(6)

print(set1)

{1, 2, 3, 4, 6}